<% 
    var name = '';
    var button = 'Create';
    var id = 0;
    var heading = 'Add a new course'
    if (typeof c === 'object') {
        name = c.name;
        id = c.id;
        button = 'Save'
        heading = 'Edit course'
    }
%>
<form method="post" action="/course" class="form-horizontal">

    <h4 class="text-center"><%= heading %></h4>

    <!-- hidden id -->
    <input type="hidden" name="id" value="<%= id %>">

    <!-- name -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="course name">Course Name</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="course name" name="name" value="<%= name %>">
        </div>
    </div>

    <!-- button -->
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-2">
            <input class="form-control btn btn-primary" type="submit" value="<%= button %>">
        </div>
    </div>
</form>
