<div class="container">
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _course_form %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (course of courses) { %>
                        <tr>
                            <td>
                                <label class="text-center"><%= course.name %></label>
                            </td>
                            <td>
                                <form method="post" action="/course/delete" class="form-inline delete-item">
                                    <a class="form-control btn btn-primary btn-sm" href="/course/<%= course.id %>/edit">Edit</a>
                                    <input type="hidden" name="id" value="<%= course.id %>">
                                    <input type="submit" class="form-control btn btn-danger btn-sm" value="Delete">
                                </form>
                            </td>
                        </tr>
                    <%} %>
                </tbody>
            </table>
        </div>
    </div>
</div>
