<div class="container text-center">
    <!-- Edit Lecture -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _lecture_form %>
        </div>
    </div>
    <!-- Add new video -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _video_form %>
        </div>
    </div>

    <!-- Video list -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Video Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (video of videos) { %>
                        <tr>
                            <td><%= video.title %></td>
                            <td>
                                <form method="post" action="/video/delete" class="form-inline">
                                    <a href="/video/<%= video.id %>/edit" class="form-control btn btn-primary btn-sm">Edit</a>
                                    <input type="hidden" name="id" value="<%= video.id %>">
                                    <input type="submit" class="form-control btn btn-danger btn-sm" value="Delete">
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
