<div class="container text-center">
    <!-- Edit Course -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _course_form %>
        </div>
    </div>
    <!-- Add new lecture -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <% include _lecture_form %>
        </div>
    </div>

    <!-- Lecture list -->
    <div class="row">
        <div class="well col-md-8 col-md-offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Lecture Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (lecture of lectures) { %>
                        <tr>
                            <td><%= lecture.description %></td>
                            <td>
                                <form method="post" action="/lecture/delete" class="form-inline">
                                    <a href="/lecture/<%= lecture.id %>/edit" class="form-control btn btn-primary btn-sm">Edit</a>
                                    <input type="hidden" name="id" value="<%= lecture.id %>">
                                    <input type="submit" class="form-control btn btn-danger btn-sm" value="Delete">
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
